h1 {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;

    border-collapse: collapse;
    text-align: center;
    align-items: center;
}

tr,
th,
td {
    border: 1px solid #c7c6c7;
    width: 120px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 11px;
    padding: 5px;
}

.edit-center,
.add-center,
.show-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


input {
    margin: 20px;
}

.update,
.cancel,
.add {
    margin: 10px;
    justify-content: flex;

}

.add-rectangle {
    margin: 10px;
}

.rectangle {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: width 0.3s, height 0.3s;
}